

<header class="header-nav">
<h1>Navima</h1>
 <nav><a href="/">Home</a></nav>
 <nav><a href="/post/spots">おすすめスポット</a></nav>
 <nav><a href="/post/information">アイスランドを楽しむ</a></nav>
<nav><a href="/users/sign_in">みんなのレビュー</a></nav>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
</header>
<br>
<br>


<%= form_for @tweet do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body, :size => 140 %>
  <%= f.submit "編集して投稿する" %>
<% end %>

<%= link_to "投稿一覧へ", tweets_new_path %>
