
<%= stylesheet_link_tag "users/sessions/new", :media => "all" %>

 <body>
   <header class="header-nav">
   <h1>Navima</h1>
    <nav><a href="/">Home</a></nav>
    <nav><a href="/post/spots">おすすめスポット</a></nav>
    <nav><a href="/post/information">アイスランドを楽しむ</a></nav>
   <nav><a href="/users/sign_in">みんなのレビュー</a></nav>
   </header>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
<h2 class="text-center font-weight-bold pt-5">パスワードを忘れた方はこちら</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

    <div class="field pt-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-12 form-control" %>
  </div>

    <div class="actions pt-3">
    <%= f.submit "メールを送信してパスワードをリセットする", class: "btn btn-primary" %>
  </div>

<% end %>
<div class="pt-3">
</div>
<%= render "users/shared/links" %>
</div>
<div class="col-md-1">
<br>
<br>

</div>
　　</div>
　　　</div>

<footer>
<p>Copyright © Yusuke Yoshitomi All Rights Reserved.</p>
</footer>
